body {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    display: flex;
    background-color: rgb(245, 186, 186);
    justify-content: center;
}

.playwrite-hr-introText {
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

.inconsolata-regular {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.graphic {
    background-color: #b29583;
}

.playwrite-hr-instructionsText {
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 25px;
}
.playwrite-hr-newsHead {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight:bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 24px;
    text-align: center;
    padding: 25px;
}

.inputForm {
    border-radius: 25px;
    width: 100%;
    box-shadow: 2px 2px rgba(89, 94, 89, 0.288);
    background-color: #e9c8b4;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.zip1Input {
    text-align: center;
    margin: 15px;
}

.zipInputs {
    text-align: center;
    margin: 15px;
}

.submitBtn {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: rgb(89, 94, 89);
    color: white;
    border: solid grey;
    border-width: thin;
    border-radius: 15px;
    font-size: 18px;
    height: 40px;
    width: 120px;
    margin: 5px;
}

.submitBtn:hover {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    background-color: rgb(133, 236, 133);
    border: solid grey;
    border-width: thin;
    border-radius: 15px;
    font-size: 18px;
    height: 40px;
    width: 120px;
    margin: 5px;
}

.zipOutput {
    background-color: rgb(255, 239, 215);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(89, 94, 89, 0.288);
}
.newsResDiv {
    background-color: rgb(255, 239, 215);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(89, 94, 89, 0.288);
}
.output {
    border-radius: 25px;
    display: none;
}

.outerContainer {
    width: 70%;
    border-radius: 25px;
    background-color: rgb(255, 239, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playwrite-hr-resultHead {
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.resultCity {
    font-size: 18px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.resultIncome {
    font-size: 14px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#zipcode1 {
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#zipcode2 {
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#buttn {
    width: 100%;
    display: flex;
    justify-content: center;
}
#city1ResultsDiv {
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
#city2ResultsDiv {
    margin: 5px;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    color: black;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}